jupyter==1.0.0
elasticsearch==7.6.0
scholarly==0.2.5
spacy==2.2.4
wordcloud==1.6.0
scikit-learn==0.22.2.post1
seaborn==0.10.0
pyLDAvis==2.1.2
PySocks==1.7.1
git+https://github.com/OrganicIrradiation/scholarly.git